---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<API_KEY>&exclude=hourly,minutely&lat=45.523&lon=-122.6764&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.523,"lon":-122.6764,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1720740840,"sunrise":1720701195,"sunset":1720756735,"temp":84.99,"feels_like":84.69,"pressure":1015,"humidity":42,"dew_point":59.34,"uvi":3.03,"clouds":20,"visibility":10000,"wind_speed":16.11,"wind_deg":290,"wind_gust":23.02,"weather":[{"id":711,"main":"Smoke","description":"smoke","icon":"50d"}]},"daily":[{"dt":1720728000,"sunrise":1720701195,"sunset":1720756735,"moonrise":1720722540,"moonset":1720767360,"moon_phase":0.19,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":83.59,"min":60.01,"max":85.8,"night":63.77,"eve":83.48,"morn":61.27},"feels_like":{"day":81.77,"night":62.33,"eve":82.24,"morn":60.71},"pressure":1017,"humidity":31,"dew_point":49.78,"wind_speed":11.07,"wind_deg":320,"wind_gust":19.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":4,"pop":0,"uvi":8.08},{"dt":1720814400,"sunrise":1720787647,"sunset":1720843097,"moonrise":1720812720,"moonset":0,"moon_phase":0.22,"summary":"There
        will be clear sky today","temp":{"day":83.07,"min":54.99,"max":90.28,"night":68.09,"eve":84.99,"morn":56.73},"feels_like":{"day":81.18,"night":67.08,"eve":82.74,"morn":55.54},"pressure":1016,"humidity":29,"dew_point":47.26,"wind_speed":10.31,"wind_deg":334,"wind_gust":17.4,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":[...]
